<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	>
<head>
<link rel="stylesheet" th:href="@{/resources/css/table.css}"/>
    <title>Title</title>
</head>
<body>
<div class="container">

	<input type="button" value="Add new Admin"
				   onclick="window.location.href='showFormForAdd'; return false;"
			/>
			<h2>Users</h2>
<table>
    <tr>
        <th>name</th>
        <th>email</th>
        <th>action</th>
    </tr>
    
    
    <tr th:each = "user: ${users}">
        
       
        
        <td th:text="${user.userName}"></td>
        <td th:text="${user.email}"></td>
		<td>
			<a th:href="@{/admin/delete(UserId=${user.id})}" 
			onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false"
			 >Delete</a>
		   |
		   
		   	<a th:href="@{/admin/upgrade(UserId=${user.id})}" 
		   	onclick="if (!(confirm('Are you sure you want to upgrade user to the admin?'))) return false"
			 >Upgrade to Admin</a>
			 		
		    |
		    <a th:href="@{/admin/showFormForUpdate(UserId=${user.id})}" 
			 >Update</a>			   
      </td>
    </tr>
    
</table>
	<h3><a th:href="@{/main}">Back to your view</a></h3>
</div>
</body>
</html>